.hidden {
  display: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

main {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightblue;
}

#chatroom {
  width: inherit;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

#chat-list, #user-list {
  overflow-y: scroll;
}

#message-to-send {
  width: inherit;
}

#user-list-config {
  position: fixed;
  height: inherit;
  right: 0;
  top: 0;
  background-color: white;
}

.my-chat, .opponent-chat {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.my-chat > div, .opponent-chat > div {
  width: fit-content;
}

.my-chat {
  align-items: flex-end;
}

.opponent-chat {
  align-items: flex-start;
}

.my-chat > span, .opponent-chat > span {
  margin-bottom: 8px;
}

.my-chat > div > span:last-child, .opponent-chat > div > span:first-child {
  padding: 5px;
  border-radius: 8px;
}

.my-chat > div > span:last-child {
  background-color: yellow;
  margin-left: 5px;
}

.opponent-chat > div > span:first-child {
  background-color: white;
  margin-right: 5px;
}

#chatroom-upside, #message-to-send {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: brown;
}
