.hidden {
  display: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

main {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightblue;
}

#chatroom {
  width: inherit;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

#chat-list, #user-list {
  overflow-y: scroll;
}

#message-to-send {
  width: inherit;
}

#user-list-config {
  position: fixed;
  height: inherit;
  right: 0;
  top: 0;
  background-color: white;
}

.my-chat {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.my-chat > div {
  width: fit-content;
  background-color: yellow;
}

.opponent-chat {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.opponent-chat > div {
  width: fit-content;
  background-color: white;
}

#chatroom-upside, #message-to-send {
  background-color: brown;
}
