.hidden {
  display: none;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

main {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  background-color: lightblue;
}

#chatroom {
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

#message-to-send {
  width: inherit;
}

#user-list-config {
  background-color: white;
}

.my-chat {
  text-align: right;
}

.opponent-chat {
  text-align: left;
}
